.navbar {
    display: flex;
    justify-content: space-between;
    border: solid 1px blue;
}

.left-container {
    display: flex;
}
.menu {
    display: flex;
    margin-left:2.6rem;
    list-style: none;
}

.menu li {
    margin-right: 3.2rem;
}

.menu li:last-child {
    margin-right: 0rem;
}

